<h1><center>Page d'acceuil</h1>
<p><center>ce projet me fait galerer !!</p>
<div class="jumbotron" ></div>
<ul>
  <% if user_signed_in? %>
    <li>
     <%= button_to( "Log Out", destroy_user_session_path,  method: :delete) %>
    </li>

    <li>
     Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>


  <% end %>
</ul>

